@{
    ViewData["Title"] = "Generate document";
}


@{

    var document = ViewData["DocumentDetails"] as SvgDocument;
    string exampleJson = ViewData["ExampleJson"] as string;
}
<div class="row">
    <div class="col-lg-12 text-center">
        <h3>@document.DocumentName</h3>
        <h4>@document.Description</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Input</h3>
        @using (Html.BeginForm("GenerateDocument", "DocumentsGenerator", FormMethod.Post, new { id = "JsonForm" }))
        {
            <input type="hidden" name="docId" value="@document.ID" />
            <textarea onchange="TextAreaChange()" placeholder="Type your JSON here" id="inputJson" type="text" form="JsonForm" name="input" rows="10" style="width:100%"></textarea>
            <button type="button" id="btnExampleJson" class="btn btn-danger" onclick="setExampleJson()">Example JSON</button>
            <button type="button" onclick="TextAreaChange()" id="btnCheck" class="btn btn-success">Check input</button>
            <input id="btnSubmit" type="submit" class="btn btn-primary" value="Submit" />
            <div id="message" style="display:inline-block; color:red"></div>
        }
    </div>
</div>

<h3>Formatted view</h3>
<div id="json"></div>

<script>

        var jsonObj = {};
        var textarea = document.querySelector("#inputJson");
        var jsonViewer = new JSONViewer();
        var btnSubmit = document.getElementById('btnSubmit');
        var msg = document.getElementById('message');
        btnSubmit.disabled = true;
        document.querySelector("#json").appendChild(jsonViewer.getContainer());
        
        var TextAreaChange = function () {

            var setJSON = function () {
            try {
                var value = textarea.value;
                jsonObj = JSON.parse(value);
                }
            catch (err) {
                btnSubmit.disabled = true;
                msg.innerHTML = "Invalid JSON format!";
                return;
                }
                btnSubmit.disabled = false;
                msg.innerHTML = "";
            };

            setJSON();
            jsonViewer.showJSON(jsonObj);
        }
    
    var jsonExample =  @Html.Raw(Json.Serialize(exampleJson));

    var setExampleJson = function () {
        $('#inputJson').val(jsonExample);
        TextAreaChange();
    }
        

</script>


